.cartproduct{
    width:110px;
    height:110px;
    float:left;
}
table {
    width: 100%;
    font-size: 18px;
}
  
th {
    height: 50px;
}
.qty{
    width: 60px;
    text-align: center;
    margin: 2px;
}
.styleTable{
  font-size :20px;
  margin-top : 1%;
}
.nama_sneaker{
  margin-top: 5%;
  margin-left: 30%;
}
.harga_sneaker{
  font-weight: bold;
  margin-left: 30%;
  margin-top: 10%;
}
.empty_cart{
  background-color: red;
  color: white;
  letter-spacing: 2px;
  padding: 2%;
  margin-bottom: 2%;
}
.cart_total{
  padding: 5%;
  letter-spacing: 2px;
  background-color: rgb(242,242,242);
  font-size: 20px;
}



@media only screen and (min-width: 320px) and (max-width: 767px) {
  table {
    width: 100%;
    font-size: 18px;
  }
  .cartproduct{
    width:45px;
    height:45px;
    margin-left: 10%;
  }
  .styleTable{
    font-size: 10px;
  }
  .qty{
    width: 20px;
    text-align: center;
    margin: 2px;
  }
  .nama_sneaker{
    padding-top: 50%;
    margin-top: 0%;
    margin-left: -20%;
  }
  .harga_sneaker{
    font-weight: bold;
    margin-left: -15%;
    margin-top: -15%;
  }
  .empty_cart{
    margin-left: 30%;
  }
  .promo{
    font-size: 15px;
    padding-left: 5%;
  }
  .cart_total{
    padding: 5%;
    letter-spacing: 2px;
    background-color: rgb(242,242,242);
    font-size: 15px;
  }


  #gambar_promo{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
  }
}