/* *
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body
{
    background-size: cover;
    background-position: center;
}

.menu-bar
{
    background: rgb(0, 0, 0);
    text-align: center;
}

.menu-bar ul
{
    display: inline-flex;
    list-style: none;
    color: #fff
}

.menu-bar ul li
{
    width: 120px;
    margin: 15px;
    padding: 15px;
}

.menu-bar ul li a
{
    text-decoration: none;
    color: #fff;
}

.active, .menu-bar ul li:hover
{
    background: rgb(220,220,220);
    border-radius: 3px;
    color: black;
}

.sub-menu-1
{
    display:none;
    color: white;
    z-index: 2;
}

.menu-bar ul li:hover .sub-menu-1
{
    display: block;
    position: absolute;
    background: rgb(0,0,0);
    margin: 15px 0 0 15px;
}

.menu-bar ul li:hover .sub-menu-1 ul
{
    display: block;
    margin: 10px;
}

.menu-bar ul li:hover .sub-menu-1 ul li
{
    width: 120px;
    padding: 10px;
    border-bottom: 1px solid #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
    border-bottom: none;
}

.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
    color: rgb(50,50,50)
} */

html, body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(51, 51, 51, 1);
}

:root {
    --pcol: black;
    --scol: white;
    --rm-font-size: 20px;
    --sgrad: linear-gradient(
    139deg,
    rgba(51, 51, 51, 1) 16%,
    rgba(51, 51, 51, 1) 16%,
    rgba(51, 51, 51, 1) 16%
  );
    --fgrad: linear-gradient(
    139deg,
    rgba(51, 51, 51, 1) 16%,
    rgba(51, 51, 51, 1) 16%,
    rgba(51, 51, 51, 1) 16%
  );
}

h3{
	color:  white;
	font: normal 30px 'Arial', cursive;
	margin: 0;
}
h3 span{
	color:  #5383d3;
}

.search_input{
    width: 70%;
    padding: 12px 24px;
    margin-top: 3%;

    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    
    color: #575756;
    background-color: white;
/*         background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg); */

    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;  
}
.search_input::placeholder{
    color: black;
}
.search_input:focus{
    outline: none;
}

