.container_wishlist_HP{
    display: none;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .container_wishlist_PC{
		display: none;
    }
    .container_wishlist_HP{
		display: block;
	}
}