.container_invoice_HP{
    display:none;
}

#container_rate_HP{
    display: none;
}
.container_purchasetable_HP{
    display: none;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .container_invoice_PC{
        display:none;
    }
    .container_invoice_HP{
        display:block;
    }


    #container_rate_PC{
        display:none;
    }
    #container_rate_HP{
        display:block;
    }


    .container_purchasetable_PC{
        display: none;
    }
    .container_purchasetable_HP{
        display: block;
    }
}