@media only screen and (min-width: 320px) and (max-width: 767px) {
	.container-promo-dekstop{
		display: none !important;
	}
	.container-promo-mobile{
		display: block !important;
	}
	.myaccount-tab-dekstop{
		display: none !important;
	}
	.myaccount-tab-mobile{
		display: block !important;
	}
}
.dot {
	height: 1%;
	width: 9%;
	background-color: white;
	border-radius: 50%;
	display: inline-block;
	font-size: 15px;
	padding-left: 1%;
	margin-right: 2%;
  }