.container{
    margin-top: -3%;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .container{
        font-size: 12px;
        margin-top: -15%;
    }
    #font_style{
        font-size: 12px;
    }
    #font_style option{
        font-size: 12px;
    }
    #alamat{
        font-size: 12px;
    }
    #kodepos{
        font-size: 12px;
    }
    #nama{
        font-size: 12px;
    }
    #nohp{
        font-size: 12px;
    }
}