@media only screen and (min-width: 320px) and (max-width: 767px) {
	.modaldetail-mobile{
		display: block !important;
	}
	.modaldetail-dekstop{
		display: none !important;
	}
	.container-modaldetail{
		font-size: 10pt !important;
	}
}
.dot {
	height: 1%;
	width: 9%;
	background-color: white;
	border-radius: 50%;
	display: inline-block;
	font-size: 15px;
	padding-left: 1%;
	margin-right: 2%;
  }
