@media only screen and (min-width: 320px) and (max-width: 767px) {
	#container-mobile{
		display: block !important;
	}
	#container-dekstop{
		display: none !important;
	}
	#container-promo-dekstop{
		display: none !important;
	}
	#container-promo-mobile{
		display: block !important;
	}
	.container-all-promo{
		margin-left: 10%;
		margin-top: 10% !important;
	}
	#announce-dekstop{
		display: none !important;
	}
	#announce-mobile{
		display: block !important;
	}
	#announce-category-mobile{
		display: block !important;
	}
	#announce-category-dekstop{
		display: none !important;
	}
	.container-tab-home-mobile{
		display: block !important;
	}
	.container-tab-home-dekstop{
		display: none !important;
	}
	.dot {
		width: 10.5% !important;
	 }
}
.dot {
	height: 1%;
	width: 9%;
	background-color: white;
	border-radius: 50%;
	display: inline-block;
	font-size: 15px;
	padding-left: 1%;
	margin-right: 2%;
  }