.container_tableOrder_HP{
    display: none;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
    .container_tableOrder_PC{
        display: none;
    }
    .container_tableOrder_HP{
        display: block;
    }


    #icon{
        margin-top:1%;
        visibility: hidden;
    }
    #title{
        position: absolute;
        padding-top: 1.5%;
        margin-left: 3%;
        width: 50%;
    }
    .search_bar{
        z-index: 1;
    }
    #search_input_mobile{
        display: block !important;
        width: 11%;
        position: absolute;
        margin-top:-23%;
        margin-left: 52%;
    }
    .search_input{
        display: none;
    }
    #cart_logo{
        position: absolute;
        margin-top:-26%;
        margin-left: 65%;
    }
    .list_menu_dekstop {
      display: none;
    }
    .list_menu_mobile {
      width: 100%;
      margin-left: 20%;
      display: block !important;
    }
    #_2iAdU{
        height: 45px;
    }
    ._2Gsmq{
        display: none;
    }
    .container-myaccount{
        margin-top:-30.5%;
        width: 0;
        margin-left: 80%;
    }
    .myaccount-mobile{
        display: block !important;
    }
    .myaccount-dekstop{
        display: none;
    }
    #container-tab{
        font-size: 8pt;
    }
    #searchbar{
        font-size: 8pt;
    }
    .container-item-preview{
        margin-left: -4% !important;
    }

    #container_header{
        height: 10%;
    }
    html, body {
        margin: 0;
        padding: 0;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: rgba(51, 51, 51, 1);
    }
}



:root {
    --pcol: black;
    --scol: white;
    --rm-font-size: 20px;
    --sgrad: linear-gradient(
    139deg,
    rgba(51, 51, 51, 1) 16%,
    rgba(51, 51, 51, 1) 16%,
    rgba(51, 51, 51, 1) 16%
  );
    --fgrad: linear-gradient(
    139deg,
    rgba(51, 51, 51, 1) 16%,
    rgba(51, 51, 51, 1) 16%,
    rgba(51, 51, 51, 1) 16%
  );
}

h3{
	color:  white;
	font: normal 30px 'Arial', cursive;
	margin: 0;
}
h3 span{
	color:  #5383d3;
}

.search_input{
    width: 70%;
    padding: 12px 24px;
    margin-top: 3%;

    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 14px;
    line-height: 18px;
    
    color: #575756;
    background-color: white;
/*         background-image: url(http://mihaeltomic.com/codepen/input-search/ic_search_black_24px.svg); */

    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 18px 18px;
    background-position: 95% center;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;  
}
.search_input::placeholder{
    color: black;
}
.search_input:focus{
    outline: none;
}

