﻿html {
  position: relative;
  min-height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

body {
  margin-bottom: 160px !important; /* Height of the footer */
  padding: 0;
  max-width: 100%;
  overflow-x: hidden;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 160px; /* Set the fixed height of the footer here */
}

/* Override Bootstrap Styling */

.btn-primary {
  background-color: #025fce !important;
}

button:focus,
button:active {
  outline: none !important;
  box-shadow: none !important;
}
